/* 
Stylesheet For CSS Demo
*/
/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


/* ----------------Utility Classes--------------*/
.container{
    width:70vw;
    margin: 40px auto;
}

img{
    max-width: 100%;
}


/* ---------------Global Style----------------- */


/* Color Scheme
Primary Blue #65818C
Green #99BFAA
Dark Grey #585859
White #D9D7D7
Black #0D0D0D
*/



body {
    background-color: #65818C;
    font-family: 'Nunito', sans-serif;
}


header.primary {
    background-color: #99BFAA;
    text-align: center;
    color:#0D0D0D;

    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;

    /* T,R,B,L */
    padding: 40px 40px 40px 40px;

    /* T/B, R/L */
    padding: 40px 40px;

    /* All sides */
    padding: 40px;


    /*text-shadow: 2px 2px 1px #D9D7D7;*/
}

/* vw relative to width, vh relative to hight % */
/* use rem for size */
header.primary h1 {
    font-size: 2.6rem;
    margin: 20px 0;
}

header.primary h1 a{
    color:#65818C;
    text-decoration: none;
}

header.primary h2{
    font-size: 1.4rem;
    margin: 20px auto 40px;
}

header.primary nav{
    width: 80vw;
    margin: 20px auto;
    max-width: 900px;
}

header.primary nav ul{
    /* removes extra space from list items attachments*/
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header.primary nav ul li{
    list-style-type: none;
}
header.primary nav ul li a{
    color: #D9D7D7;
    text-decoration: none;
    background-color: #0D0D0D;
    /* Use rgba last number or opasity */
    background-color: rgba(0,0,0,.4);
    padding: 8px 16px;
    display: inline-block;
    border-radius: 20px 10px 5px 10px;

}

header.primary nav a:hover{
    background-color: rgba(0,0,0,.8);
    transition: .3s;
}

h1,h2,h3,h4,h5,h6{
    color: #99BFAA;
}

/* MAIN CONTENT */
section#intro{
    border-bottom: 1.5px dashed #0D0D0D;
    padding-bottom: 1.1rem;

}

section#intro h2{
    color:#99BFAA;
    border-bottom: 1px dotted #0D0D0D;
}


#content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#content article.post{
    width: 30%;
    box-shadow: 0 4px 8px rgba(57, 33, 93, 0.553);
    padding: 10px;
    border-radius: 4px;
    font-size: .7rem;
}
#content article.post:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,.4);
}



time.post-date, figcaption, .post-meta{
    text-transform: uppercase;
    color: rgb(40, 40, 40);
}


.post figure{
    background: red;
    margin: 0;
}
.post img{
    border: 1px solid rgb(95, 95, 95);
    padding: 2px;
    margin: 5px 0;
}


.post h2 a{
    color: #9ecbdc;
}
.post a:hover, .post a:active{
    text-decoration: none;
}


/* Attribute Selector */
aside[role="complementary"]{
    background: #3f5158;
    color: #D9D7D7;
}


aside div.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
aside article.widget{
    width: 45%;
}
article.widget a{
    color: white;
    display: block;
    margin-top: .8rem;
    text-align: right;
}
article.widget footer{
    display: none;
}


#colophon{
    background-color: #3f5158;
}

/* change order of website for screen size */
@media screen and (max-width:600px){

header.primary nav ul {
    flex-direction: column;
}

header.primary nav a{
    display: block;
}






}