/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }







/* ----------------Utility Classes--------------*/
.container{
    width:70vw;
    margin: 40px auto;
}










/* ---------------Global Style----------------- */

body {
    font-family: 'Hubballi', cursive;
}