/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }







/* ----------------Utility Classes--------------*/
.container{
  width:70vw;
  margin: 40px auto;
}

img{
  max-width: 100%;
}

.img-right{
  float: right;
  margin-left: 20px;
  padding: 5px;
}
.img-left{
  float: left;
  margin-right: 20px;
  padding: 5px;
}
.img-center{
  display: block;
  margin: 20px auto;
  padding: 5px;
}










/* ---------------Global Style----------------- */

/* Color Scheme
Primary PurpleGrey #625F73
LightPurple #DFDCF2
LightBlue #8EACBF
Green #8A8C3E
LightBrown #736F68
*/


body {
    font-family: 'Hubballi', cursive;
    background-color: #625F73;
    color: #DFDCF2;
}
header{
  background-image: url(../img/dragoncrew.8k.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

header h1{
  font-size: 3rem;
  margin: 20px 20px;
  padding: 10px 10px;
  border-radius: 10px 10px;
  background-color: rgba(0,0,0,.65);

}

header h1 a{
  color: #DFDCF2;
  text-decoration: none;
  text-shadow: 2px 2px rgb(28, 28, 28);
}
header nav{
  width: 80vw;
  margin: 20px auto;
  max-width: 900px;
}
header nav ul{
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header nav ul li{
  list-style-type: none;
}
header nav ul li a{
  text-decoration: none;
  font-size: 1.4rem;
  color: #e3e3e3;
  background-color: rgba(0,0,0,.65);
  padding: 8px 16px;
  display: inline-block;
  border-radius: 20px 10px 5px 10px;
}
header nav a:hover{
  background-color: rgba(0,0,0,.8);
  transition: .3s;
}


h2{
  font-size: 1.7rem;
  margin: 20px auto 40px;
}

p{
  font-size: 1.2rem;
}


h3 {
  text-align: left;
  padding-left: 14%;
  text-decoration: underline;
}



#content{
  background-color: #591303;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px dotted #000000;
  padding: 10px;
  box-shadow: 5px 5px rgba(0,0,0,.4);
}

nav.container1{
  width: 30%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.553);
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
}
nav.container2{
  width: 30%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.553);
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
}
nav.container3{
  width: 30%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.553);
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
}


footer{
  background-color: #38390a;
  text-align: center;
  justify-content: center;
  font-size: 1.4rem;
}
footer h6 a{
  text-decoration: none;
  color: rgb(91, 163, 234);
}



table{
  width: 60%;
  border: 1px solid #0D0D0D;
  border-collapse: collapse;
  color: black;
  margin-left: auto;
  margin-right: auto;
}
tr{
  color: black;
}
tr:nth-child(even){
  background-color: #a4a4a4;
}
tr:nth-child(odd){
  background-color: #6f94a1;
}
tr:hover{
  background-color: #787878;
}
td:nth-child(2n), :nth-child(3n){
  text-align: left;
}
th{
  background-color: #3f5158;
  color: #D9D7D7;
  width: 33%;
  padding: 10px;
}
td{
  border: 1px solid #0D0D0D;
  padding: 5px;
}
table thead tr td{
  background-color: #93669e;
}
caption{
  font-size: 2.2rem;
}






@media screen and (max-width:600px){

  header nav ul {
      flex-direction: column;
  }
  
  header nav a{
      display: block;
  }
  
  
  
  
  
  
  }